{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body
{
  background-image:url("Background.jpeg");
  background-size: cover;
}
.container{
   height: 700px;
   width: 650px;
   position: relative;
   animation: planeAnimate 15s linear infinite;
}
@keyframes planeAnimate {
      from {
        left: 100vw;
      }
      to {
        left: -40vw;
      }
}